<!-- <div class="footer-logo" style="display: flex; align-items: center; gap: 8px; margin-bottom: 0;">
  <a href="https://amcr.lbl.gov/" target="_blank"><img src="{{ '/assets/img/amcr-logo.png' | relative_url }}" alt="AMCR Logo" style="height: 50px;"></a>
  <a href="https://lbl.gov" target="_blank"><img src="{{ '/assets/img/lbl-logo.png' | relative_url }}" alt="LBNL Logo" style="height: 50px;"></a>
  <span><a href="https://amcr.lbl.gov/" target="_blank">Applied Mathematics and Computational Research</a> <br> <a href="https://lbl.gov" target="_blank">Lawrence Berkeley National Laboratory</a></span>
</div> -->

<div class="footer-copyright mt-2" style="font-size: 0.8rem; color: #63666a;">
    <p>&copy; {{ "now" | date: "%Y" }} Regents of the University of California.</p>
     <p><a href="https://lbl.gov" target="_blank">Lawrence Berkeley National Laboratory</a> is a <a href="https://www.energy.gov/science/office-science" target="_blank">U.S. DOE Office of Science</a> national laboratory managed by the <a href="https://www.ucop.edu/laboratory-management/about-the-labs/overview-lbnl.html" target="_blank">University of California</a>.</p>
</div>
<div class="footer-logo" style="display: flex; align-items: center; justify-content: flex-end; gap: 8px; margin-bottom: 0;">
  <a href="https://www.iarpa.gov/research-programs/agile-2" target="_blank">
      <img src="{{ '/assets/logos/AGILE-logo.png' | relative_url }}"
        alt="IARPA Advanced Graphic Intelligence Logical Computing Environment (AGILE)"
        style="max-height: 35px;">
  </a>
  <a href="https://www.iarpa.gov/" target="_blank">
      <img src="{{ '/assets/logos/IARPA-logo.png' | relative_url }}" alt="Intelligence Advanced Research Projects Activity" style="max-height: 35px;">
  </a>
  <a href="https://crd.lbl.gov/divisions/amcr/" target="_blank">
    <img src="{{ '/assets/logos/AMCR-logo.png' | relative_url }}" alt="Applied Mathematics and Computational Research Division" style="max-height: 35px;">
  </a>
  <a href="https://www.energy.gov/science/office-science" target="_blank">
    <img src="{{ '/assets/logos/doe-logo.svg' | relative_url }}"
      alt="U.S. Department of Energy Office of Science" style="max-height: 35px;">
  </a>
  <a href="https://www.lbl.gov/" target="_blank">
    <img src="{{ '/assets/logos/lbnl-logo.png' | relative_url }}" alt="Lawrence Berkeley National Laboratory" style="max-height: 35px;">
  </a>
  <a href="https://www.ucop.edu/laboratory-management/about-the-labs/overview-lbnl.html" target="_blank">
      <img src="{{ '/assets/logos/uc-logo.svg' | relative_url }}" alt="UC Logo" style="max-height: 35px;">
  </a>
</div>

<div class="footer-copyright mt-2" style="font-size: 0.8rem; color: #63666a;">
<details>
  <summary>Funding & Copyright Information</summary>
  <p><strong>Copyright Notice</strong><br/>
    Berkeley eXtensible Environment (BXE) Copyright (c) 2026, The Regents of the University of California, through Lawrence Berkeley National Laboratory (subject to receipt of any required approvals from the U.S. Dept. of Energy). All rights reserved.
  </p>
  <p>
    If you have questions about your rights to use or distribute this software, please contact Berkeley Lab's Intellectual Property Office at <a href="mailto:IPO@lbl.gov">IPO@lbl.gov</a>.
  </p>
  </p>
    <em>NOTICE</em>. This Software was developed under funding from the U.S. Department of Energy and the U.S. Government
    consequently retains certain rights. As such, the U.S. Government has been granted for itself and others acting on its
    behalf a paid-up, nonexclusive, irrevocable, worldwide license in the Software to reproduce, distribute copies to the
    public, prepare derivative works, and perform publicly and display publicly, and to permit others to do so.
  </p>
  <p><strong>Funding Acknowledgment</strong><br/>
    This research is based upon work supported by the Office of the Director of National Intelligence (ODNI), Intelligence    Advanced Research Projects Activity (IARPA), through the Advanced Graphical Intelligence Logical Computing Environment    (AGILE) research program, under Army Research Office (ARO) contract number D2021-2106030006. The views and conclusions    contained herein are those of the authors and should not be interpreted as necessarily representing the official    policies or endorsements, either expressed or implied, of the ODNI, IARPA, ARO, or the U.S. Government.
  </p>
</details>
</div>